NEXT_PUBLIC_SUPABASE_URL=https://mkrrvfsdaljvbxdwvsfo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1rcnJ2ZnNkYWxqdmJ4ZHd2c2ZvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc5NjM3MTcsImV4cCI6MjA5MzUzOTcxN30.UFs954KrcCZ5GtnB60T_o8fxDLq9GpT6ZLEFa1OYgdY
